{% extends "layout.html" %}
{% load static %}
{% block title %}Register {% endblock %}

{% block body %}

<header class="py-5 bg-dark" >
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Create an account</h1>
            <p class="lead fw-normal text-white-50 mb-0">Register for a User Account </p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row"> 
        <div class="col-md-5 offset-md-2 py-5">
            <br>

            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <br>

                <button type="submit" class="btn btn-outline-dark w-100 mb-3" style="padding: 15px 20px;">Create</button>
                <span>Already have an account? <a href="{% url 'login' %}" class="mb-2" style="color: black; font-weight: 400;">Login</a></span>
            </form>
        </div>
    </div>
</div>



{% endblock %}