{% extends "layout.html" %}
{% load static %}
{% block title %}Register {% endblock %}

{% block body %}

<header class="py-5 bg-dark" >
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Become a member</h1>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5 my-5">
    <div class="row">
        <div class="col-md-8 py-5">
            <h2 class="">Customer Login</h2>
            <br>

            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Email Address</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="john">
                    <small id="emailHelpId" class="form-text text-muted">Help text</small>
                </div>
                <br>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="*************">
                </div>
                
                <br>

                <button class="btn btn-outline-dark" style="padding: 15px 28px;" type="submit">
                    Login
                    <i class="bi-arrow-right me-1"></i>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}